<!-- As of right now, the information in this ad slot is hardcoded, and should be edited in this document only. -->

<div class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem position-relative" style="background-image: url({{site.baseurl}}/assets/images/jumbotron-gradient.png);" id="jumbotron">
    <div class="pl-4 pr-0 h-100 tofront">
        <div class="row justify-content-between">
            <div class="col-md-6 pt-5 pb-5 pr-lg-4 align-self-center">
                <small class="d-block-sticky text-muted">
                    <span class="catlist">
                    <a class="text-capitalize text-muted smoothscroll" href="{{site.baseurl}}/games">Games</a><span class="sep">, </span>
                    </span>                   
                </small>
                <h1 class="mb-3">Monthly Jigsaw:<br/> Hotel Jinlong</h1>
                <p class="mb-3">By Diane Park</p>
                <p class="mb-3 lead">
                    Read an exclusive interview with VA student Diane Park and play a Jigsaw Puzzle based on their art.
                </p>
                <a href="{{site.baseurl}}/games" class="btn btn-dark">Play Now</a>
            </div>
            <div class="col-md-6 d-none d-md-block pr-0" style="background-size:cover;background-position: left center;background-image: url({{site.baseurl}}/assets/images/puzzles/hotel-jinlong.jpg);">	
            </div>
        </div>
    </div>
</div> 